.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.skul {
  z-index: 1;
  cursor: pointer;
  position: absolute;
}
.cricle {
  z-index: 1;
  min-width: 300px;
  background: url(https://www.facebook.com/images/fb_icon_325x325.png);
  background-position: 50% 50%;
  background-size: contain;
}
#rotatingText {
  animation-name: rotate-circle;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rotate-circle {
  to {
    transform: rotate(1turn);
  }
}
.white {
  max-width: 1000px;
  color: green;
  display: flex;
  align-items: center;
}
.body {
  width: 100vw;
  height: 100vh;
  background-color: black;
}
.title {
  background-color: black;
  color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}
