.border-radius-3px {
  border-radius: 3px;
}
.border-solid {
  border-style: solid;
}
.border-dotted {
  border-style: dotted;
}
.border-dashed {
  border-style: dashed;
}
.border-groove {
  border-style: groove;
}
.border-double {
  border-style: double;
}
.black-border {
  border-color: black;
}
.white-border {
  border-color: white;
}
.cyan-border {
  border-color: cyan;
}
.brown-border {
  border-color: brown;
}
.tan-border {
  border-color: tan;
}
.border-1px {
  border: 1px;
}
